.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/banner/banner-figma.png);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.banner__frase {
  max-width: 683px;
  max-height: 232px;
  margin: 0 0 0 30%;
}
.banner__titulo {
  font-size: 5em;
  font-family: var(--font-inter);
  font-weight: bolder;
  color: var(--branco);
  padding: 0 0 0.5em 0;
}
.banner__botao {
  padding: 1em 1.3em;
  background-color: var(--marrom);
  color: var(--branco);
  font-family: var(--font-inter);
  font-weight: bolder;
  border-radius: 1.1em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@media (max-width: 1268px) {
  .banner {
    justify-content: right;
    background-image: url(../assets/banner/banner-1220.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner__titulo {
    font-size: 4em;
  }
}
@media (max-width: 1078px) {
    .banner {
    background-image: url(../assets/banner/banner-920.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner__frase {
  max-width: 683px;
  max-height: 232px;
  margin: 0 0 0 30%;
}
  .banner__titulo {
    font-size: 3em;
    padding: .3em;
  }
}
@media (max-width: 630px){
      .banner {
    background-image: url(../assets/banner/banner-celular.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover};
    .banner__titulo{
      color: var(--texto-dark);
    }
    .banner__botao{
      padding: .9em 1em;
    }
}
@media (max-width: 575px) {
  .banner__titulo{
    font-size: 2em;
  }
  .banner__botao{
    padding: .5em 1em;
  }
}
